body{
    background-color: #ebe2ff;
}
.mainForm{
    border: 1px solid white;
    width: 30%;
    padding-top:10px;
    padding-left:20px;
    padding-right:30px;
    padding-bottom:28px;
    margin:60px 50px;
    background-color: white;
}
input[type="password"]{
    margin:5px 0;
    width:100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
input[type=text]{
    margin:5px 0;
    width:100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
#password{
    margin:5px 0;
    width:100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
input[type=email]{
    margin:5px 0;
    width:100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
.submit{
    margin-left: 130px;
    width: 40%;
    height: 35px;
    border:2px solid #8a60f4;
    border-radius: 5px;
    background-color: #8a60f4;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.submit:hover{
    margin-left:60px ;
    border-color:#8a60f4 ;
    width: 44%;
    height: 38px;
}
.submit:last-child{
    text-decoration: none;
}